<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Express & EJS</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolore aliquam repudiandae nihil, aperiam voluptas repellat iste, fuga suscipit error maiores, rerum facilis laudantium impedit ea provident officiis dolorum aut.
  Id, minima repudiandae nihil cum quis quae quasi hic est cumque vel atque repellendus dignissimos ea. Tempore in nisi dolorum eius eligendi, porro rerum mollitia eaque? Qui quas illum maxime.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repudiandae accusamus quam ratione, recusandae optio. Beatae repellendus quo debitis. Optio expedita laborum fugit ullam, eaque rem facere sequi quia ipsam.</p>
</body>
</html>