<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voltes Team</title>
</head>
<body>
  <h2>The Voltes Team</h2>
  <ul>
    <% for(let member of voltesv) { %>
      <li><%= member %></li>
    <% } %>
  </ul>
</body>
</html>